<!DOCTYPE html>
<html lang="ru">
  <head>
      <title>TITLE</title>
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
        <div id="Buttons">
            <form method="post">
                {% csrf_token %}
                <button type = "submit" class="btn" id="temp" name="temp">TEMP</button>
                <button type = "submit" class="btn" id="water" name="water">WATER</button>
                <button type = "submit" class="btn" id="rad" name="rad">RAD</button>
            </form>
        </div>

        <div id="result">

        </div>

        <div id="Charts">
          <div style="height:200px; width:600px">
            <canvas id="myChart"></canvas>
          </div>

          <div style="height:200px; width:600px">
            <canvas id="temperatureChart" ></canvas>
          </div>

          <div style="height:200px; width:600px">
            <canvas id="waterChart"></canvas>
          </div>
        </div>

      <canvas id="radiationChart"></canvas>
      <h1>aaa</h1>
  </body>
<script>

<!--    function handleAct(action){-->
<!--      const data = new FormData();-->
<!--      data.append('action', action)-->
<!--      data.append('csrfmiddlewaretoken', document.querySelector('[name=csrfmiddlewaretoken]').value);-->

<!--          fetch('', {-->
<!--              method: 'POST',-->
<!--              headers: {-->
<!--                  'X-Requested-With': 'XMLHttpRequest',-->
<!--              },-->
<!--              body: data-->
<!--      })-->
<!--      .then(response => response.json())-->
<!--      .then(data => {-->
<!--          document.getElementById('result').textContent = data.message;-->
<!--      })-->
<!--    }-->



    let chart
    let temperatureChart
    let waterChart
    let radiationChart

    async function updateChart(){
      const response = await fetch('/api/data/');
      const data = await response.json();

      if (chart){
        chart.data.labels = data.labels;
        chart.data.datasets[0].data = data.values;
        chart.update()
      }
      else{
          const context = document.getElementById('myChart').getContext('2d');
          chart = new Chart( context, {
            type: 'line',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Температура',
                data: data.values,
                backgroundColor: 'red'
              }]
            }
          });
      }
    }

    async function updateChart2(){
      const response = await fetch('/api/data2/');
      const data = await response.json();

      if (temperatureChart){
        temperatureChart.data.labels = data.labels;
        temperatureChart.data.datasets[0].data = data.values;
        temperatureChart.update()
      }
      else{
          const context = document.getElementById('temperatureChart').getContext('2d');
          temperatureChart = new Chart( context, {
            type: 'line',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Уровень воды',
                data: data.values,
                backgroundColor: 'blue'
              }]
            }
          });
      }
    }

    async function updateChart3(){
      const response = await fetch('/api/data3/');
      const data = await response.json();

      if (waterChart){
        waterChart.data.labels = data.labels;
        waterChart.data.datasets[0].data = data.values;
        waterChart.update()
      }
      else{
          const context = document.getElementById('waterChart').getContext('2d');
          waterChart = new Chart( context, {
            type: 'line',
            data: {
              labels: data.labels,
              datasets: [{
                label: 'Радиация',
                data: data.values,
                backgroundColor: 'green'
              }]
            }
          });
      }
    }

    setInterval(updateChart, 1000);
    setInterval(updateChart2, 1000);
    setInterval(updateChart3, 1000);
    updateChart3()
    updateChart2()
    updateChart()
</script>
</html>